[user]
    name = Jason Gardner
    email = buhrietoe@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[merge]
    tool = vimdiff
    log = true

[push]
    default = current

[help]
    autocorrect = 1

[alias]
    st = status
    co = checkout
    br = branch
    p = pull -p
    r = remote -v
    fi = diff-tree --name-only --pretty="" -r

[branch "master"]
    remote = origin
    merge = master

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[diff "ansible-vault"]
    textconv = ansible-vault view
    cachetextconv = true

[pull]
    rebase = false
