! Xft settings ---------------------------------------------------------
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull

! xterm ----------------------------------------------------------------
xterm*saveLines: 1000
xterm*AllowIconInput: on
xterm*background: #000000
xterm*foreground: #FFFFFF
xterm*border: #BFBFBF
xterm*DeiconifyWarp: off
xterm*Font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-*-*
xterm*InternalBorder: 1
xterm*MarginBell: off
xterm*MenuFont: fixed8
xterm*Mouse: yellow
xterm*TitleFont: vtbold
xterm*charClass: 33:48,37:48,45-47:48,64:48
xterm*colorAttrMode: true
xterm*colorMode: true
xterm*curses: on
xterm*cutNewline: off
xterm*jumpScroll: on
xterm*multiClickTime: 500
xterm*multiScroll: on
xterm*reverseWrap: off
xterm*scrollBar: off

